.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

/* Hortizontal Arrows */
.grid-container.horizontal::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid black;
    position: absolute;
    left: -1%;
    bottom: -5%;
    transform: translateY(-50%);
}

.grid-container.horizontal::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
    position: absolute;
    right: -1%;
    bottom: -5%;
    transform: translateY(-50%);
}

/* Vertical Arrows */
.grid-container.vertical::before  {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    left: 49.9%;
    top: -100.5%;
    transform: translateX(-50%);
}

.grid-container.vertical::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    position: absolute;
    right: 48%;
    bottom: 0;
    transform: translateX(-50%);
}

.grid-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 400px;
    overflow-y: auto;
}

.category {
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 60%;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.category-button {
    margin-bottom: 20px;
}

.category h1 {
    font-size: 10px;
}