h1 {
    margin-bottom: 10px;
}

.category-button {
    background-color: #00B5B5; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 30px;
}

.category-button:hover {
    background-color: #1DCFA2; /* Green */
    color: white;
}

.category-button a {
    color: white;
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

/* Hortizontal Arrows */
.grid-container.horizontal::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid black;
    position: absolute;
    left: -1%;
    bottom: -5%;
    transform: translateY(-50%);
}

.grid-container.horizontal::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid black;
    position: absolute;
    right: -1%;
    bottom: -5%;
    transform: translateY(-50%);
}

/* Vertical Arrows */
.grid-container.vertical::before  {
    content: '';
    width: 0;
    height: 0;
    border-top: 20px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 49.9%;
    bottom: -2.5%;
    transform: translateX(-50%);
}

.grid-container.vertical::after {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 20px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    right: 48%;
    top: -103%;
    transform: translateX(-50%);
}

.grid-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* align-items: center; */
    height: 400px;
    overflow-y: auto;
}

.category {
    border: 3px solid #FE6971;
    width: 100px;
    /* margin: 0 auto; */
    overflow-y: scroll;
    overflow-x: hidden;
    height: 150px;
    margin-top: 20px;
    /* margin-bottom: 30px; */
}

.category-button {
    margin-bottom: 20px;
}

.category h1 {
    font-size: 11px;
    color: #EC6693;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.delete-button {
    background-color: #FFBB56; /* Green */
    border: none;
    color: white;
    padding: 3px 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #FC8255; /* Green */
    color: white;
}

.title {
    display: flex;
    gap: 1px;
}